{% import "bootstrap/wtf.html" as wtf %}
<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Maintanance sign in</title>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">

  <link rel="stylesheet" href="static/css/login.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
<style>
body {
  font: 13px/20px "Open Sans", Tahoma, Verdana, sans-serif;
  color: #a7a599;
  background-image: url("static/bg.jpg")
}

</style>
</head>
{% block body %}
<body>
  <div class="login">
    <h1>Sign In</h1>

    <form class="form" method="post" action="{{ url_for('auth.login') }}">
       {{ user_form.hidden_tag() }}

      <p class="field">
        {{ wtf.form_field(user_form.email) }}
       
      </p>

      <p class="field">
        {{ wtf.form_field(user_form.password) }}
        
      </p>

      <p class="submit">{{ wtf.form_field(user_form.submit) }}</p>
      <div class = "row">
        <a href="{{ url_for('auth.signup') }}" class="forgot">New User.Click to sign up?</a>
      </div>
      </form>
  </div> 

</body>
  {% endblock %}
</html>

