
{% import "bootstrap/wtf.html" as wtf %}
<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Maintanance Sign Up</title>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
  <link rel="stylesheet" href="static/css/signup.css">

   <style>
   body 
   {
      font: 13px/20px "Open Sans", Tahoma, Verdana, sans-serif;
      color: #000000;
     background-image: url("static/bg.jpg")
  }
   </style>
</head>
{% block body %}
<body>
  <div class="login">
    <h1>Sign Up</h1>

    <form class="form" method="post" action="{{ url_for('auth.signup') }}">
       {{ user_form.hidden_tag() }}
      <p class="field">
         {{ wtf.form_field(user_form.first_name) }}
        
      </p>

      <p class="field">
         {{ wtf.form_field(user_form.last_name) }}
        
      </p>
      <p class="field">
        {{ wtf.form_field(user_form.email) }}
       
      </p>
      <p class="field">
         {{ wtf.form_field(user_form.phone_number) }}
        
      </p>
      <p class="field">
         {{ wtf.form_field(user_form.password) }}
        
      </p>
       <p class="field">
         {{ wtf.form_field(user_form.conf_password) }}
        
      </p>

      <p class="submit"> {{ wtf.form_field(user_form.submit) }}</p>

       <div class="row">
        <a href="{{ url_for('auth.login') }}" class="forgot">Already Signed up?Sign In</a>
       </div>
    </form>
  </div> 
</body>
{% endblock %}
</html>


