{% extends 'base.html' %}
{% block navbar %}
<nav>
<a href="{{ url_for('main.admin_mains') }}" class = "btn btn-info">View All Maintanance Requests</a>
<a href="{{ url_for('main.admin_users') }}" class = "btn btn-info">View All Users</a>
<a href="{{url_for('main.admin_add_user')}}" class = "btn btn-info">Add Users</a>

</nav>
{% endblock %}
{% block page_content %}
<div class="container">
    <div class="row">
         <div class="col-md-8">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Approve/Reject request </h3>
          </div>
          <div class="panel-body">
        
        <form role="form" method="POST" action="#" class="form col-md-5">
            {{ approve_form.hidden_tag() }}
            <div class="row">
                 <div class="column">
                    {{ wtf.form_field(approve_form.item_name) }}
                        
                    </div>
                </div>
                 <div class="row">
                 <div class="column">
                        {{ wtf.form_field(approve_form.item_issue) }}
                        
                    </div>
                </div>
                 <div class="row">
                 <div class="column">
                        {{ wtf.form_field(approve_form.item_type) }}
                        
                    </div>
                </div>
                <div class="row">
                 <div class="column">
                        {{ wtf.form_field(approve_form.comment) }}
                </div>
                </div>
                {{ wtf.form_field(approve_form.submit) }}
                {{ wtf.form_field(approve_form.reject) }}
            </div>
        </form>
    </div>
</div>
</div>
    </div>
</div>
{% endblock %}