<!-- base.html template -->
{% import "bootstrap/wtf.html" as wtf %}
<!DOCTYPE html>
<html>

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Maintanance Tracker Base Template.</title>

	<link rel="stylesheet" href="static/demo.css">
	<link rel="stylesheet" href="static/bootstrap/css/bootstrap.css">
	<link rel="stylesheet" href="static/header-second-bar.css">
	<link href='http://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">

</head>

<body>

<header class="header-two-bars">

	<div class="header-first-bar">

		<div class="header-limiter">

			<h1><a href="#">Maintanance<span>Tracker</span></a></h1>

			

			<a href="#" class="logout-button">Logout</a>
			<a href="#" class="logout-button">Logout</a>
		</div>

	</div>

	<div class="header-second-bar">

		<div class="header-limiter">
			<h2><a href="#"></a></h2>

			<nav>
				<a href="#" class="btn btn-info"> Maintanance/Repair Request</a>
				
				
			</nav>

		</div>

	</div>

</header>

<!-- The content of your page would go here. -->


<div class="menu">

	

</div>



<!-- Demo ads. Please ignore and remove. -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="http://cdn.tutorialzine.com/misc/enhance/v3.js" async></script>

</body>

</html>
